<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />

    <meta name="viewport" content="width=device-width, initial-scale = 1.0" />
    <title>Fine Arts Museum of Texas</title>

    <link rel="stylesheet" href="buy_exhibition_ticket.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <div class="hero">
      <nav>
        <img src="images/MFA.png" class="logo" />
        <ul>
          <li><a href="load_visitor_museumupdatemessages.html">Museum Update Messages</a></li>
          <li><a href="visitor_artwork_view.html">Collection</a></li>
          <li><a href="load_visitor_buyexhibitionticket.html">Exhibitions</a></li>
          <li><a href="load_visitor_buytheaterticket.html">Theater</a></li>
          <li><a href="load_visitor_buygiftshop.html">Shop</a></li>
          <!--<li><a href="visitor_database.html">Database</a></li>-->
          <li><a href="frontpage.html">Log Out</a></li>
        </ul>
      </nav>

      <h1 class="title-align" style="color: rgb(222, 44, 44)">Gift Shop</h1>

      
      <div id="Tables">
        <%- message %>
        <form action="/visitor_gift_purchase" method="post"> 
        <label for="itemid"> </label>
        <input
          type="text"
          id="itemid"
          name="itemid"
          placeholder="Item ID"
        />

        <label for="amount"> </label>
          <input
            type="number"
            id="amount"
            name="amount"
            placeholder="# to purchase"
          />


              <button type="submit" id="purchase" name="purchase"class="purchase-button">Purchase</button>

            </form>
        <table>
          <tr>
            <th>Item ID</th>
            <th>Item Name</th>
            <th>Description</th>
            <th>Unit Price</th>
            <th>Item Stock</th>
          </tr>
          <%- values %>
          

        

    
        </table>
      </div>
      



</body>
<script>



</script>

</html>
