<html>
  <head>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />

    <meta name="viewport" content="width=device-width, initial-scale = 1.0" />
    <title>Film Alteration</title>

    <link rel="stylesheet" href="employee_filmalt.css" />
  </head>

  <body>
    <noscript>
      <iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-5HZHZH"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
        lazy="true"
      ></iframe>
    </noscript>

    
      <div class="hero">
        <nav>
          <a href="employee_login_frontpage.html">
          <img src="images/MFA.png" class="logo" />
          <ul>
            <li><a href="employee_artwork_view.html">Artwork Search</a></li>
            <li><a href="employee_artwork_alt.html">Artwork Alteration</a></li>
            <li><a href="employee_exhibition_alt.html">Exhibition Alteration</a></li>
            <li><a href="employee_exhibitionticket_alt.html">Exhibition Timeslot Alteration</a></li>
            <li><a href="frontpage.html">Log Out</a></li>
          </ul>
        </nav>

    <div>
      <h1 class="title-align" style="color:rgb(222, 44, 44)">Exhibition Alteration</h1>
      <form action="/employee_exhibition_altpull" method="post">
        &emsp;<button type="submit" id="pull films" name="pull films" value="0">Pull Exhibitions</button>
         </form>
      <form action="/employeeexhibitionadd" method="post">
      <div id="formContainer" class="inner">
        <label for="exhibNameInput"> Exhibition Name: </label>
        <input
          type="text"
          id="exhibNameInput"
          name="exhibNameInput"
          placeholder="Enter the Exhibition Name"
        />
        
        <label for="exhibIDInput"> Exhibition ID: </label>
        <input
          type="text"
          id="exhibIDInput"
          name="exhibIDInput"
          placeholder="Enter Exhibition ID like 'E########'."
        />


        <label for="startDateInput"> Start Date: </label>
        <input
          type="text"
          id="startDateInput"
          name="startDateInput"
          placeholder="Enter Start Date in form 'MM-DD-YYYY'"
        />

        <label for="endDateInput"> End Date: </label>
        <input
          type="text"
          id="endDateInput"
          name="endDateInput"
          placeholder="Enter End Date in form 'MM-DD-YYYY'"

        />
        

        <label for="buildNumInput"> Building Number: </label>
        <input
          type="number"
          id="buildNumInput"
          name="buildNumInput"
          placeholder="Enter a valid Building Number"
        />
        

        <label for="descriptionInput"> Descripton: </label>
        <textarea id="descriptionInput" name="descriptionInput" placeholder="Enter a description of the item"></textarea>
        


        <button type="submit" id="addbutton" name="addbutton" value="0">Add</button>
        <button type="submit" id="updatebutton" name="updatebutton" value="0">Update</button>
      </form>


      </div>
      &emsp; &emsp;&emsp;<button  onclick="validateAdd()">Validate Add</button>
      <button  onclick="validateAlteration()">Validate Update</button>
    </div>
      </div>

    <table id="outputTable">
      <tr>
        <th>Exhibition Name</th>
        <th>Exhibition ID</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Building Number</th>
        <th>Description</th>
      </tr>
      <%- values %>
    </table>


    <script>
      function validateAdd(){
        let exhibName = document.getElementById("exhibNameInput").value;
        let exhibID = document.getElementById("exhibIDInput").value;
        let building = document.getElementById("buildNumInput").value;
        let startDate = document.getElementById("startDateInput").value;
        let endDate = document.getElementById("endDateInput").value;
        let description = document.getElementById("descriptionInput").value;

        if(!exhibName && !exhibID && !building && !startDate && !endDate && !description){
          alert("ALL categories need to be filled out.");
          document.getElementById("addbutton").value = "0";
          return;
        }
        
        if(!exhibName) {
          alert("Exhibition Name is required for Add.");
          document.getElementById("addbutton").value = "0";
          return;
        }
        else if(exhibName.length > 100){
          alert("Exhibition Name should be no more than 100 characters.");
          document.getElementById("addbutton").value = "0";
          return;
        }

        if(!exhibID) {
          alert("Exhibition ID is required for Add.");
          document.getElementById("addbutton").value = "0";
          return;
        }
        else if(!/^E\d{8}?/.test(exhibID)){
          alert("Exhibition ID should be formatted like E(8) or E########.");
          document.getElementById("addbutton").value = "0";
          return;
        }

        if(!startDate) {
          alert("Start Date is required for Add.");
          document.getElementById("addbutton").value = "0";
          return;
        }
        else if(!/^\d{2}-\d{2}-\d{4}$/.test(startDate)) {
          alert("Start Date must be formatted like 'MM-DD-YYYY'.");
          document.getElementById("addbutton").value = "0";
          return;
        }
        else if(parseInt(startDate.substring(0,2)) > 12 || parseInt(startDate.substring(0,2) < 1)){
          alert("Start Date month must be between 1 and 12.");
          document.getElementById("addbutton").value = "0";
          return;
        }
        else if(parseInt(startDate.substring(3,5)) > 31 || parseInt(startDate.substring(3,5) < 1)){
          alert("Start Date day must be between 1 and 31.");
          document.getElementById("addbutton").value = "0";
          return;
        }


        if(!endDate) {
          alert("End Date is required for Add.");
          document.getElementById("addbutton").value = "0";
          return;
        } else if(!/^\d{2}-\d{2}-\d{4}$/.test(endDate)) {
            alert("End Date must be formatted like 'MM-DD-YYYY'.");
            document.getElementById("addbutton").value = "0";
            return;
        } else if(parseInt(startDate.substring(0,2)) > 12 || parseInt(startDate.substring(0,2) < 1)){
          alert("End Date month must be between 1 and 12.");
          document.getElementById("addbutton").value = "0";
          return;
        }
        else if(parseInt(startDate.substring(3,5)) > 31 || parseInt(startDate.substring(3,5) < 1)){
          alert("End Date day must be between 1 and 31.");
          document.getElementById("addbutton").value = "0";
          return;
        }else if(parseInt(endDate.substring(6,10)) < parseInt(startDate.substring(6,10))){
            alert("End Date must be after Start Date.");
            document.getElementById("addbutton").value = "0";
            return;
        } else if((parseInt(endDate.substring(0,2)) < parseInt(startDate.substring(0,2))) && (parseInt(endDate.substring(6,10)) == parseInt(startDate.substring(6,10)))){
            alert("End Date must be after Start Date.");
            document.getElementById("addbutton").value = "0";
            return;
          } else if((parseInt(endDate.substring(3,5)) < parseInt(startDate.substring(3,5))) && (parseInt(endDate.substring(0,2)) == parseInt(startDate.substring(0,2))) && (parseInt(endDate.substring(6,10)) == parseInt(startDate.substring(6,10))) ){
            alert("End Date must be after Start Date.");
            document.getElementById("addbutton").value = "0";
            return;
        }        


        if(!building) {
          alert("Building Number is required for Add.");
          document.getElementById("addbutton").value = "0";
          return;
        }
        else if(building < 1 || building > 4){
          alert("Building Number must be between 1 and 4.");
          document.getElementById("addbutton").value = "0";
          return;          
        }

        if(!description) {
          alert("Description is required for Add.");
          document.getElementById("addbutton").value = "0";
          return;
        }
        else if(description.length > 1000){
          alert("Description should be no more than 1000 characters.");
          document.getElementById("addbutton").value = "0";
          return;          
        }


  
        document.getElementById("addbutton").value = "1";
        alert("Add is Valid! You can now click the 'Add' button.");
        return;

      }

      function validateAlteration(){
        let exhibName = document.getElementById("exhibNameInput").value;
        let exhibID = document.getElementById("exhibIDInput").value;
        let building = document.getElementById("buildNumInput").value;
        let startDate = document.getElementById("startDateInput").value;
        let endDate = document.getElementById("endDateInput").value;
        let description = document.getElementById("descriptionInput").value;

        if(!exhibID) {
          alert("Exhibition ID is required for Update.");
          document.getElementById("updatebutton").value = "0";
          return;
        }
        else if(!(exhibID === "")){
          if(!/^E\d{8}?/.test(exhibID)){
            alert("Exhibition ID should be formatted like E(8) or E########.");
            document.getElementById("updatebutton").value = "0";
            return;
          }
        }

        if(!exhibName && !building && !startDate && !endDate && !description) {
          alert('No changes made, please enter new values to be updated.');
          document.getElementById("updatebutton").value = "0";
          return;
        }

        if(!(exhibName==="")){
          if(exhibName.length > 100){
            alert("Exhibition Name should be no more than 100 characters.");
            document.getElementById("updatebutton").value = "0";
            return;
          }
        }

        if(!(startDate==="")){
          if(!/^\d{2}-\d{2}-\d{4}$/.test(startDate)) {
            alert("Start Date must be formatted like 'MM-DD-YYYY'.");
            document.getElementById("updatebutton").value = "0";
            return;
          }
          else if(parseInt(startDate.substring(0,2)) > 12 || parseInt(startDate.substring(0,2) < 1)){
          alert("Start Date month must be between 1 and 12.");
          document.getElementById("updatebutton").value = "0";
          return;
        }
        else if(parseInt(startDate.substring(3,5)) > 31 || parseInt(startDate.substring(3,5) < 1)){
          alert("Start Date day must be between 1 and 31.");
          document.getElementById("updatebutton").value = "0";
          return;
        }
        }

        if(!(endDate==="")){
          if(!/^\d{2}-\d{2}-\d{4}$/.test(endDate)) {
              alert("End Date must be formatted like 'MM-DD-YYYY'.");
              document.getElementById("updatebutton").value = "0";
              return;
          }  else if(parseInt(endDate.substring(0,2)) > 12 || parseInt(endDate.substring(0,2) < 1)){
          alert("Start Date month must be between 1 and 12.");
          document.getElementById("updatebutton").value = "0";
          return;
        }
        else if(parseInt(endDate.substring(3,5)) > 31 || parseInt(endDate.substring(3,5) < 1)){
          alert("Start Date day must be between 1 and 31.");
          document.getElementById("updatebutton").value = "0";
          return;
        }
          else if(parseInt(endDate.substring(6,10)) < parseInt(startDate.substring(6,10))){
              alert("End Date must be after Start Date.");
              document.getElementById("updatebutton").value = "0";
              return;
            } else if((parseInt(endDate.substring(0,2)) < parseInt(startDate.substring(0,2))) && (parseInt(endDate.substring(6,10)) == parseInt(startDate.substring(6,10)))){
            alert("End Date must be after Start Date.");
            document.getElementById("updatebutton").value = "0";
            return;
          } else if((parseInt(endDate.substring(3,5)) < parseInt(startDate.substring(3,5))) && (parseInt(endDate.substring(0,2)) == parseInt(startDate.substring(0,2))) && (parseInt(endDate.substring(6,10)) == parseInt(startDate.substring(6,10))) ){
            alert("End Date must be after Start Date.");
            document.getElementById("updatebutton").value = "0";
            return;
          }        

        }

        if(!(building==="")){
          if(building < 1 || building > 4){
            alert("Building Number must be between 1 and 4.");
            document.getElementById("updatebutton").value = "0";
            return;          
          }
        }

        if(!(description==="")){
          if(description.length > 1000){
            alert("Description should be no more than 1000 characters.");
            document.getElementById("updatebutton").value = "0";
            return;          
          }
        }


        document.getElementById("updatebutton").value = "1";
        alert("Update is Valid! You can now click the 'Update' button.");
        return;

      }

      </script>
    </body>
    </html>