<html>
  <head>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />

    <meta name="viewport" content="width=device-width, initial-scale = 1.0" />
    <title>Film Alteration</title>

    <link rel="stylesheet" href="employee_filmalt.css" />
  </head>

  <body>
    <noscript>
      <iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-5HZHZH"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
        lazy="true"
      ></iframe>
    </noscript>

    <body>
      <div class="hero">
        <nav>
          <a href="employee_login_frontpage.html">
          <img src="images/MFA.png" class="logo" />
          <ul>
            <li><a href="employee_filmalt.html">Film Alteration</a></li>
            <li><a href="employee_filmticketalt.html">Film Showtime Alteration</a></li>
            <li><a href="frontpage.html">Log Out</a></li>
          </ul>
        </nav>

    <div>
      <h1 class="title-align" style="color:rgb(222, 44, 44)">Film Showtime Alteration</h1>
      <form action="/employee_filmticket_altpull" method="post">
        &emsp;<button type="submit" id="pull films" name="pull films" value="0">Pull Film Showtimes</button>
         </form>
      <form action="/employeefilmticketadd" method="post">
      <div id="formContainer" class="inner">

        <label for="filmNameInput"> Film Name: </label>
        <input
          type="text"
          id="filmNameInput"
          name="filmNameInput"
          placeholder="Enter the film's name"
        />
        
        <label for="filmTicketID"> Theater Ticket ID: </label>
        <input
          type="text"
          id="filmTicketID"
          name="filmTicketID"
          placeholder="Enter Theater Ticket ID like 'FT(7)' or 'FT#######'"
        />
        <label for="filmIDInput"> Film ID: </label>
        <input
          type="text"
          id="filmIDInput"
          name="filmIDInput"
          placeholder="Enter film ID like 'F(8)' OR 'F########'"
        />

        <label for="undertwelve"> 'Under 12' Price: </label>
        <input
          type="number"
          id="undertwelve"
          name="undertwelve"
          placeholder="Enter the 'Under 12' price"
          step="0.01"
        />

        <label for="between"> '12 to 65' Price: </label>
        <input
          type="number"
          id="between"
          name="between"
          placeholder="Enter the '12 to 65' price"
          step="0.01"
        />
        <label for="oversixfive"> '65 plus' Price: </label>
        <input
          type="number"
          id="oversixfive"
          name="oversixfive"
          placeholder="Enter the '65 plus' price"
          step="0.01"
        />

        <label for="seatCount"> Seat Count: </label>
        <input
          type="number"
          id="seatCount"
          name="seatCount"
          placeholder="Enter the Seat Count"
        />

        <label for="dateInput"> Event Date: </label>
        <input
          type="text"
          id="dateInput"
          name="dateInput"
          placeholder="Enter event date in form 'MM-DD-YYYY'"
        />

        <label for="startTime"> Start Time: </label>
        <input
          type="text"
          id="startTime"
          name="startTime"
          placeholder="Enter start time in form '## p.m.'"

        />
        <label for="endTime"> End Time: </label>
        <input
          type="text"
          id="endTime"
          name="endTime"
          placeholder="Enter end time in form '## p.m.'"

        />


        <button type="submit" id="addbutton" name="addbutton" value="0">Add</button>
        <button type="submit" id="updatebutton" name="updatebutton" value="0">Update</button>
      </form>


      </div>
      &emsp; &emsp;&emsp;<button  onclick="validateAdd()">Validate Add</button>
      <button  onclick="validateAlteration()">Validate Update</button>
    </div>
      </div>

    <table id="outputTable">
      <tr>
        <th>Film Name</th>
        <th>Theater Ticket ID</th>
        <th>Film ID</th>
        <th>'Under 12' Price</th>
        <th>'12 to 65' Price</th>
        <th>'65 plus' Price</th>
        <th>Seat Count</th>
        <th>Date of Event</th>
        <th>Start Time</th>
        <th>End Time</th>
      </tr>
      <%- values %>
    </table>

    <script>
      function validateAdd(){
        let filmName = document.getElementById("filmNameInput").value;
        let filmTicketID= document.getElementById("filmTicketID").value;
        let filmID = document.getElementById("filmIDInput").value;
        let uTwelve = document.getElementById("undertwelve").value;
        let between = document.getElementById("between").value;
        let overSix = document.getElementById("oversixfive").value;
        let seatCount = document.getElementById("seatCount").value;
        let eventDate = document.getElementById("dateInput").value;
        let startTime = document.getElementById("startTime").value;
        let endTime = document.getElementById("endTime").value;

        if(!filmName && !filmTicketID && !filmID && !uTwelve && !between && !overSix && !eventDate && !startTime && !endTime) {
          alert("ALL categories need to be filled out.");
          document.getElementById("addbutton").value = "0";
          return;
        }

        if(!filmName) {
          alert("Film Name is required for Add.");
          document.getElementById("addbutton").value = "0";
          return;
        } else if(filmName.length > 100){
          alert("Film Name should be at most 100 characters.");
          document.getElementById("addbutton").value = "0";
          return;
        }

        if(!filmTicketID) {
          alert("Theater Ticket ID is required for Add.");
          document.getElementById("addbutton").value = "0";
          return;
        } else if(!/^FT\d{7}$/.test(filmTicketID)) {
          alert("Theater Ticket ID must be formatted like FT(7) or FT#######.");
          document.getElementById("addbutton").value = "0";
          return;
        }


        if(!uTwelve) {
          alert("'Under 12' Price is required for Add.");
          document.getElementById("addbutton").value = "0";
          return;
        } else if(parseFloat(uTwelve) <= 0.00){
          alert("'Under 12' Price should be greater than 0.");
          document.getElementById("addbutton").value = "0";
          return;
        }

        if(!between) {
          alert("'12 to 65' Price is required for Add.");
          document.getElementById("addbutton").value = "0";
          return;
        } else if(parseFloat(between) <= 0.00){
          alert("'12 to 65' Price should be greater than 0.");
          document.getElementById("addbutton").value = "0";
          return;
        }        

        if(!overSix) {
          alert("'65 plus' Price is required for Add.");
          document.getElementById("addbutton").value = "0";
          return;
        } else if(parseFloat(overSix) <= 0.00){
          alert("'65 plus' Price should be greater than 0.");
          document.getElementById("addbutton").value = "0";
          return;
        }        
        
        if(!filmID) {
          alert("Film ID is required for Add.");
          document.getElementById("addbutton").value = "0";
          return;
        } else if(!/^F\d{8}$/.test(filmID)) {
          alert("Film ID must be formatted like F(8) or F########.");
          document.getElementById("addbutton").value = "0";
          return;
        }
        
        if(!seatCount) {
          alert("Seat Count is required for Add.");
          document.getElementById("addbutton").value = "0";
          return;
        } else if(parseInt(seatCount) <=0 || parseInt(seatCount) > 100){
          alert("Seat Count should be greater than 0 and no more than 100.");
          document.getElementById("addbutton").value = "0";
          return;
        }    


        if(!eventDate) {
          alert("Event Date is required for Add.");
          document.getElementById("addbutton").value = "0";
          return;
        } else if(!/^\d{2}-\d{2}-\d{4}$/.test(eventDate)) {
          alert("Start Date must be formatted like 'MM-DD-YYYY'.");
          document.getElementById("addbutton").value = "0";
          return;
        }



        if(!startTime) {
          alert("Start Time is required for Add.");
          document.getElementById("addbutton").value = "0";
          return;
        } else if(!/^\d{2} p.m.$/.test(startTime) && !/^\d{2} a.m.$/.test(startTime)) {
          alert("Start Time must be formatted like '## p.m.'.");
          document.getElementById("addbutton").value = "0";
          return;

        }

        if(!endTime) {
          alert("End Time is required for Add.");
          document.getElementById("addbutton").value = "0";
          return;
        }     else if(startTime.includes("a") && endTime.includes("a")){
            if(parseInt(startTime) > parseInt(endTime)){
              alert("Start Time must be before End Time.");
              document.getElementById("addbutton").value = "0";
              return;
            }
            if(parseInt(endTime) == 12){
                alert("Start Time must be before End Time.");
              document.getElementById("addbutton").value = "0";
              return;
            }
          }
          else if(startTime.includes("p") && endTime.includes("a")){
              alert("Start Time must be before End Time.");
              document.getElementById("addbutton").value = "0";
              return;
            
          }
          else if(startTime.includes("p") && endTime.includes("p")){
            if(parseInt(startTime) > parseInt(endTime)){
              alert("Start Time must be before End Time.");
              document.getElementById("addbutton").value = "0";
              return;
            }
            if(parseInt(endTime) == 12){
                alert("Start Time must be before End Time.");
              document.getElementById("addbutton").value = "0";
              return;                
            }
          }
            
        document.getElementById("addbutton").value = "1";
        alert("Add is Valid! You can now click the 'Add' button.");
        return;

      }

      function validateAlteration(){
        let filmName = document.getElementById("filmNameInput").value;
        let filmTicketID= document.getElementById("filmTicketID").value;
        let filmID = document.getElementById("filmIDInput").value;
        let uTwelve = document.getElementById("undertwelve").value;
        let between = document.getElementById("between").value;
        let overSix = document.getElementById("oversixfive").value;
        let seatCount = document.getElementById("seatCount").value;
        let eventDate = document.getElementById("dateInput").value;
        let startTime = document.getElementById("startTime").value;
        let endTime = document.getElementById("endTime").value;
        
        if(!filmTicketID) {
          alert("Theater Ticket ID is required for Update.");
          document.getElementById("updatebutton").value = "0";
          return;
        }
        else  if(!/^FT\d{7}$/.test(filmTicketID)) {
            alert("Theater Ticket ID must be formatted like FT(7) or FT#######.");
            document.getElementById("updatebutton").value = "0";
            return;
          }

        if(!filmName && !filmID && !uTwelve && !between && !overSix && !seatCount && !eventDate && !startTime && !endTime){
          alert('No changes made, please enter new values to be updated.');
          document.getElementById("updatebutton").value = "0";
          return;
        }

        if(!(filmName==="")) {
          if(filmName.length > 100){
            alert("Film Name should be at most 100 characters.");
            document.getElementById("updatebutton").value = "0";
            return;
          }
        }

        if(!(uTwelve==="")) {
          if(parseFloat(uTwelve) <= 0.00){
            alert("'Under 12' Price should be greater than 0.");
            document.getElementById("updatebutton").value = "0";
            return;
          }
        }

        if(!(between==="")) {
           if(parseFloat(between) <= 0.00){
            alert("'12 to 65' Price should be greater than 0.");
            document.getElementById("updatebutton").value = "0";
            return;
           }
        }        

        if(!(overSix==="")) {
          if(parseFloat(overSix) <= 0.00){
            alert("'65 plus' Price should be greater than 0.");
            document.getElementById("updatebutton").value = "0";
            return;
          }
        }        
        
        if(!(filmID==="")) {
          if(!/^F\d{8}$/.test(filmID)) {
            alert("Film ID must be formatted like F(8) or F########.");
            document.getElementById("updatebutton").value = "0";
            return;
          }
        }
        
        if(!(seatCount==="")) {
          if(parseInt(seatCount) <=0 || parseInt(seatCount) > 100){
            alert("Seat Count should be greater than 0 and no more than 100.");
            document.getElementById("updatebutton").value = "0";
            return;
          }
        }    

        if(!(eventDate==="")) {
          if(!/^\d{2}-\d{2}-\d{4}$/.test(eventDate)) {
            alert("Event Date must be formatted like 'MM-DD-YYYY'.");
            document.getElementById("updatebutton").value = "0";
            return;
          }
        }

        if(!(startTime==="")) {
          if(!/^\d{2} p.m.$/.test(startTime) && !/^\d{2} a.m.$/.test(startTime)) {
            alert("Start Time must be formatted like '## p.m.'.");
            document.getElementById("updatebutton").value = "0";
            return;
          }
        }

        if(!(endTime==="")) {
          if(!/^\d{2} p.m.$/.test(endTime) && !/^\d{2} a.m.$/.test(endTime)) {
            alert("End Time must be formatted like '## p.m.'.");
            document.getElementById("updatebutton").value = "0";
            return;
          }
          else if(startTime.includes("a") && endTime.includes("a")){
            if(parseInt(startTime) > parseInt(endTime)){
              alert("Start Time must be before End Time.");
              document.getElementById("updatebutton").value = "0";
              return;
            }
            if(parseInt(endTime) == 12){
                alert("Start Time must be before End Time.");
              document.getElementById("updatebutton").value = "0";
              return;
            }
          }
          else if(startTime.includes("p") && endTime.includes("a")){
              alert("Start Time must be before End Time.");
              document.getElementById("updatebutton").value = "0";
              return;
            
          }
          else if(startTime.includes("p") && endTime.includes("p")){
            if(parseInt(startTime) > parseInt(endTime)){
              alert("Start Time must be before End Time.");
              document.getElementById("updatebutton").value = "0";
              return;
            }
            if(parseInt(endTime) == 12){
                alert("Start Time must be before End Time.");
              document.getElementById("updatebutton").value = "0";
              return;                
            }
          }
        }

        document.getElementById("updatebutton").value = "1";
        alert("Update is Valid! You can now click the 'Update' button.");
        return;

      }

    </script>
    
  </body>
</html>
