<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />

    <meta name="viewport" content="width=device-width, initial-scale = 1.0" />
    <title>Fine Arts Museum of Texas</title>

    <link rel="stylesheet" href="giftshop_login_frontpage.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <div class="hero">
      <nav>
        <a href="giftshop_login_frontpage.html">
        <img src="images/MFA.png" class="logo" />
        <ul>
            <!--<li><a href="visitor_login_frontpage.html">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="visitor_artwork_view.html">Collection</a></li>
            <li><a href="buy_exhibition_ticket.html">Exhibitions</a></li>
            <li><a href="buy_theater_ticket.html">Theater</a></li>
            <li><a href="buy_giftshop.html">Shop</a></li>-->
            <li><a href="load_giftshop_login_frontpage.html">Gift Shop Notifications</a></li>
            <li><a href="employee_giftshop_alt.html">Gift Shop Alteration</a></li>
            <li><a href="frontpage.html">Log Out</a></li>
          </ul>
      </nav>

 <!--     <div class="text-container">
        <h1>
          Journey Through Time and Culture: <br />
          Explore the Wonders of 6,000 Years of History
        </h1>
        <p>
          The Fine Arts Museum of Houston has a permanent collection, boasting
          an impressive array of over 70,000 artworks from six continents, takes
          visitors on a captivating journey through over 6,000 years of history.
          With its diverse and extensive range of masterpieces, the museum
          offers an enriching experience that transcends time and place,
          celebrating the rich tapestry of global artistic heritage.
        </p>
        <a href="buy_exhibition_ticket.html">Check Latest Exhibitions</a>
      </div>-->
      <br><br>
      

      <div class="whatthepageis">
        <h1>Gift Shop Notifications</h1>
      </div>
      <br><br><br><br>
      <form action="giftshop_error_resolve" method="post">
        <div class="whatthepageis">
          <input type="number" id="inputfield" name="inputfield" placeholder="Enter Error ID to Resolve" required>
          <button type="submit" id="entry" name="entry" class="resolve-button">Resolve this Error</button>
        </div>
        

  </form>
    <br>
      <table id="messageTable">
        <tr>
          <th>Error ID</th>
          <th>Date</th>
          <th>Message</th>
        </tr>
        <%- values %>

      </table>


      <script>
        var users = [
          { username: "visitor", password: "Visitorpassword123*", href: "visitor_login_frontpage.html" },
          { username: "employee", password: "Employeepassword123*", href: "employee_login_frontpage.html" },
          { username: "manager", password: "Managerpassword123*", href: "manager_login_frontpage.html" },
        ];
      
        var button = document.getElementById("login");
      
        button.onclick = function (event) {
          event.preventDefault(); 
          var username = document.getElementById("username").value;
          var password = document.getElementById("password").value;
      
          if (username === "" && password === "") {
            alert("Please enter both a username and a password");
          } else if (username === "") {
            alert("Please enter a username");
          } else if (password === "") {
            alert("Please enter a password");
          } else {
            var found = false;
      
            for (var i = 0; i < users.length; i++) {
              if (username === users[i].username && password === users[i].password) {
                window.location.href = users[i].href;
                found = true;
                break;
              }
            }
      
            if (!found) {
              alert("You have entered an invalid username or password");
            }
          }
        };
      </script>
      
      
  </body>
</html>
