* {
  margin: 0;
  padding: 0;
  font-family: "DM Serif Display", "Roboto", sans-serif;
  box-sizing: border-box;
}

.hero {
  background-image: url("images/ad.png");
  min-height: 100vh;
  width: 100%;
  color: white;
  position: relative;
}

nav {
  background: rgb(234, 30, 30);
  display: flex;
  align-items: center;
  padding: 20px 8%;
}

nav .logo {
  width: 160px;
  cursor: pointer;
}

nav ul {
  flex: 1;
  text-align: right;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 0 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  position: relative;
}

nav ul li a:hover::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.text-container {
  max-width: 600px;
  margin-top: 7%;
  margin-left: 5%;
}

.text-container h1 {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 15px;
  text-align: left;
}

.text-container a {
  text-decoration: none;
  background: #df3232;
  padding: 14px 40px;
  display: inline-block;
  color: #fff;
  font-size: 18px;
  margin-top: 30px;
  border-radius: 30px;
  text-align: left;
}

.text-container a:active {
  background: #ff5959;
}

.wrapper {
  width: 420px;
  background: rgba(0, 0, 0, 0.3);
  border: 2px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  margin-left: 890px;
  margin-top: -400px;
  border-radius: 10px;
  padding: 30px 40px;
  backdrop-filter: blur(2px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.wrapper h1 {
  font-size: 36px;
  text-align: center;
}

.wrapper .input-box {
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
  border-radius: 40px;
}

.wrapper .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}

.remember-forgot label input {
  accent-color: #fff;
  margin-right: 3px;
}

.remember-forgot a {
  color: #fff;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.wrapper .btn {
  width: 100%;
  height: 45px;
  background: #df3232;
  border: none;
  outline: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #ffffff;
  font-weight: 600;
}

.wrapper .btn:active {
  background: #ff5959;
}

.wrapper .register-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.register-link p a {
  color: #ed2626;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}
